body {
  background-color: yellow;
  background-image: url("002.jpg");
  background-repeat: repeat-x;
  background-size: 100% 100%;
  background-attachment: fixed;
}

h1.title {
  font-size: 66px;
  text-align: center;
  text-shadow: 5px 5px 5px red;
  color: plum;
}

h3.subtitle {
  font-size: 44px;
  text-align: center;
  text-shadow: 5px 5px 5px pink;
  color: white;
}

p.paragraph {
  font-size: 55px;
  text-align: center;
  text-shadow: 10px 10px 10px pink;
  color: navy;
}

div.card {
  border: 2px solid #ffbf00;
  border-radius: 25px;
  font-size: 40px;
  box-shadow: 10px 10px 5px black;
  text-align: center;
  background-image: url("001.jpg");
  background-repeat: repeat-x;
  background-size: 100% 100%;
  color: silver;
}

div.searchcard {
  background-image: url("003.jpg");
}

p.content {
  font-size: 20px;
  text-align: center;
  text-shadow: 10px 10px 10px pink;
  color: navy;
}

p.subtitle {
  font-size: 44px;
  text-align: center;
  text-shadow: 10px 10px 10px pink;
  color: white;
}

img.cardimage {
  width: 480px;
  height: 480px;
  margin-top: 50px;
}

img.searchimage {
  width: 303px;
  height: 222px;
}
